{% extends "shared/base.html" %}
{% block title %}
    <title>Job Details</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 text-danger">Details</h1>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Job Title</th>
      <td>{{ job.title }}</td>
    </tr>
    <tr>
      <th scope="row">Company</th>
      <td>{{ job.company }}</td>
    </tr>
    <tr>
      <th scope="row">Company URL</th>
      <td>{{ job.company_url }}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{ job.description }}</td>
    <tr>
      <th scope="row">Locations</th>
      <td>{{ job.location }}</td>
    </tr>
    </tr>
  </tbody>
</table>
    </div>
{% endblock %}